<h4>Seasons of Happiness</h4>
<div class="chart-container" style="position: relative; height:70%; width:100%">
    <canvas id="chart"></canvas>
    <script>
        var seasonChart = new Chart(document.getElementById("chart"), {
            "type": "polarArea",
            "data": {
                "labels": ["Winter", "Spring", "Summer", "Fall"],
                "datasets": [{
                    "label": "Seasons of Happiness",
                    "data": [7, 11, 5, 2],
                    "backgroundColor": ["rgb(255, 99, 132)", "rgb(75, 192, 192)", "rgb(255, 205, 86)", "rgb(201, 203, 207)"]
                }]
            }
        });
    </script>
</div>