{% extends "base.html" %}
{% load static %}
{% block chartjs %}
    <script src="{% static 'chartjs/chart.bundle.min.js' %}"></script>
{% endblock %}
{% load static %}
{% block content %}
    <div class="container container--top">
    <div class="blog--title">
        <img src="{% static 'img/title/about_title.png' %}">
    </div>
    <div class="container mt-5">
        <h2>Have you ever heard of <span>HYGGE</span>?</h2>
        <p>It is a Norwegian word pronounced ‘hoo-ga’ or ‘hue-gah’. Its meaning stretches between cozyness, wellbeing
            and togetherness -- but these words are not quite accurate. Hygge can be defined as creating intimacy in any given moment.</p>
        <p>
            You can experience hygge watching television with a cat on your lap; sitting by the fire with a hot cup of
            coffee while there is a storm outside; even when having close friends over for a birthday dinner.</p>
    </div>
    <div class="container container--img my-3">
        <p>At <span class="fancyfont--small">CreatureComforts</span>, we curate our different collections item with purpose, care and
            pleasure. We understand the power in the smell of a candle, the feel of a fabric, the sound of a chime or or
            an heartwarming picture. When you order a box or subscribe to receive one regularly, you are inviting us to be friends and care for your wellbeing. We aim to do just that.</p>
        <p>In the box we offer you, we wish to instill hygge via scent, light, texture and taste.</p>

        <p>Your daily routine can be uplifted by simple actions that you do for yourself, to enjoy the moment. Feel better, be happy and welcome <span class="fancyfont">hygge</span> in your life. </p>
        <p></p>
    </div>
    </div>
{#                <div class="col-12">#}
{#                    <h3>Chart</h3>#}
{#                    {% include "_chart.html" %}#}
{#                </div>#}

{% endblock %}