{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}
{% block emailjs %}
    <script type="text/javascript" src="https://cdn.emailjs.com/sdk/2.2.4/email.min.js"></script>
    <script type="text/javascript">
        (function () {
            emailjs.init("user_3AuwuMmJ74uD02b8NXmqe");
        })();
    </script>
{% endblock %}


{% block content %}
    <div id="blog--title">
        <img src="{% static 'img/contact_title.png' %}">
    </div>

    <div class="container container--space">
        <form id="contact_form" method="post">
            <div class="form-group">
                <label for="fullname">Who are you?</label>
                <input type="text" id="from_name" name="from_name"
                       placeholder="Name/Nickname" class="form-control"
                       required>
            </div>
            <div class="form-group">
                <label for="whereat">Where are you from?</label>
                <input type="text" id="where_at" class="form-control"
                       name="where_at" placeholder="Location">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" autocomplete="shipping email" id="from_email" name="from_email"
                       class="form-control" placeholder="Example: 123@email.com"
                       required>
            </div>
            <div class="form-group">
                <label for="message">Your Message</label><br>
                <textarea id="comments" name="comments" rows="6"
                          class="form-control" placeholder="Share your thoughts."></textarea>
            </div>
            <input id="#button" class="btn btn-info submit" type="submit" value="Send your message!">
        </form>
    </div>


    <script>
        //emailjs
        window.onload = function () {
            document.getElementById('contact_form').addEventListener('submit', function (event) {
                event.preventDefault();
                emailjs.sendForm('gmail', 'ci_fs', this)
                    .then(function () {
                        alert("Your message has been sent!");
                        window.location = '/';
                    }, function (err) {
                        alert("Send email failed!\r\n Response:\n " + JSON.stringify(err));
                    });
                document.getElementById('contact_form').reset();
                return false;
            });
        };
    </script>
    </div>

{% endblock %}