{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}
{% block emailjs %}
    <script src="https://cdn.emailjs.com/sdk/2.2.4/email.min.js"></script>
    <script>
        (function () {
            emailjs.init("user_3AuwuMmJ74uD02b8NXmqe");
        })();
    </script>
{% endblock %}


{% block content %}
    <div class="container container--top">
        <div class="page--title">
            <h1>CONTACT</h1>
        </div>

        <div class="container container--space">
            <form id="contact_form" method="post">
                <div class="form-group">
                    <label id="fullname">Who are you?</label>
                    <input type="text" id="from_name" name="from_name"
                            {% if user.is_authenticated %} value="{{ user.username }}"
                           {% else %}placeholder="Your name or nickname"{% endif %}
                           class="form-control" required>
                </div>
                <div class="form-group">
                    <label id="email">Email</label>

                    <input type="email" autocomplete="shipping email" id="from_email" name="from_email"
                           class="form-control" {% if user.is_authenticated %} value="{{ user.email }}"
                           {% else %}placeholder="Example: 123@email.com"
                           required>{% endif %}
                </div>
                <div class="form-group">
                    <label id="whereat">Where are you from?</label>
                    <input type="text" id="where_at" class="form-control"
                           name="where_at" placeholder="Location">
                </div>
                <div class="form-group">
                    <label id="message">Your Message</label><br>
                    <textarea id="comments" name="comments" rows="6"
                              class="form-control" placeholder="Share your thoughts."></textarea>
                </div>
                <input id="#button" class="btn btn-info submit" type="submit"
                       onclick="$('.loading').toggle()" value="Send your message!">
                <div class="loading">
                    <img src="{% static 'img/loader_long.svg' %}" class="my-4 progress" alt="Sending the message...">
                </div>
            </form>
        </div>


        <script>
            //emailjs
            window.onload = function () {
                document.getElementById('contact_form').addEventListener('submit', function (event) {
                    event.preventDefault();
                    emailjs.sendForm('gmail', 'ci_fs', this)
                        .then(function () {
                            alert("Your message has been sent!");
                            $('.loading').toggle();
                            window.location = '/';
                        }, function (err) {
                            alert("Send email failed!\r\n Response:\n " + JSON.stringify(err));
                        });
                    document.getElementById('contact_form').reset();
                    return false;
                });
            };
        </script>
    </div>
{% endblock %}