{% extends "base.html" %}
{% load static %}
{% block chartjs %}
    <script src="{% static 'chartjs/chart.bundle.min.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="container container--top">
    <div class="page--title">
            <h1>FAQs</h1>
        </div>
    <div class="container">
        <h4>Please take note of the below information.</h4>
        <div class="row">
            <div class="col-md-6"><ul>
                <li>No exchanges or refunds on boxes once delivered.</li>
                <li>Cancellation of a subscription can be done a month before its renewal date.</li>
            </ul></div>
            <div class="col-md-6"><ul>
                <li>Your package will be packaged and shipped by the 5th of every month. Signups received by the 10th of
                    the month will receive the current month's box first and then be charged for subsequent month's on
                    the 1st of each month. Signups received after the 10th of the month will have their spot reserved
                    for the following month.
                </li>
                            </ul></div>

        </div>
    </div>
        <div class="conatiner">
            {#                <div class="col-12">#}
{#                    <h3>Chart</h3>#}
{#                    {% include "_chart.html" %}#}
{#                </div>#}
        </div>
    <div class="container container--space">
        <div class="accordion" id="legal_disclosures">
            <div class="card">
                <div class="card-header" id="terms">
                    <h5 class="mb-0">
                        <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                            Terms and Conditions
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="terms" data-parent="#legal_disclosures">
                    <div class="card-body">
                        <h3>Terms and Conditions for Creature Comforts</h3>

                        <h4>Introduction</h4>

                        <p>These Website Standard Terms and Conditions written on this webpage shall manage your use of
                            our website,
                            Creature Comforts accessible at https://ci-vero-fullstack.herokuapp.com/.</p>

                        <p>These Terms will be applied fully and affect to your use of this Website. By using this
                            Website, you
                            agreed to accept all terms and conditions written in here. You must not use this Website if
                            you disagree
                            with any of these Website Standard Terms and Conditions. These Terms and Conditions have
                            been generated
                            over at the <a href="https://termsandcondiitionssample.com">Terms And Conditions
                                Template</a> website.
                        </p>

                        <p>Minors or people below 18 years old are not allowed to use this Website.</p>

                        <h4>Intellectual Property Rights</h4>

                        <p>Other than the content you own, under these Terms, Creature Comforts and/or its licensors own
                            all the
                            intellectual property rights and materials contained in this Website.</p>

                        <p>You are granted limited license only for purposes of viewing the material contained on this
                            Website.</p>

                        <h4>Restrictions</h4>

                        <p>You are specifically restricted from all of the following:</p>

                        <ul>
                            <li>publishing any Website material in any other media;</li>
                            <li>selling, sublicensing and/or otherwise commercializing any Website material;</li>
                            <li>publicly performing and/or showing any Website material;</li>
                            <li>using this Website in any way that is or may be damaging to this Website;</li>
                            <li>using this Website in any way that impacts user access to this Website;</li>
                            <li>using this Website contrary to applicable laws and regulations, or in any way may cause
                                harm to the
                                Website, or to any person or business entity;
                            </li>
                            <li>engaging in any data mining, data harvesting, data extracting or any other similar
                                activity in
                                relation to this Website;
                            </li>
                            <li>using this Website to engage in any advertising or marketing.</li>
                        </ul>

                        <p>Certain areas of this Website are restricted from being access by you and Creature Comforts
                            may further
                            restrict access by you to any areas of this Website, at any time, in absolute discretion.
                            Any user ID
                            and password you may have for this Website are confidential and you must maintain
                            confidentiality as
                            well.</p>

                        <h4>Your Content</h4>

                        <p>In these Website Standard Terms and Conditions, "Your Content" shall mean any audio, video
                            text, images
                            or other material you choose to display on this Website. By displaying Your Content, you
                            grant
                            Creature Comforts a non-exclusive, worldwide irrevocable, sub licensable license to use,
                            reproduce,
                            adapt, publish, translate and distribute it in any and all media.</p>

                        <p>Your Content must be your own and must not be invading any third-party’s rights.
                            Creature Comforts
                            reserves the right to remove any of Your Content from this Website at any time without
                            notice.</p>

                        <h4>Your Privacy</h4>

                        <p>Please read <a href="https://privacypolicytemplate.net/">our Privacy Policy</a>.</p>

                        <h4>No warranties</h4>

                        <p>This Website is provided "as is," with all faults, and Creature Comforts express no
                            representations or
                            warranties, of any kind related to this Website or the materials contained on this Website.
                            Also,
                            nothing contained on this Website shall be interpreted as advising you.</p>

                        <h4>Limitation of liability</h4>

                        <p>In no event shall Creature Comforts, nor any of its officers, directors and employees, shall
                            be held
                            liable for anything arising out of or in any way connected with your use of this Website
                            whether such
                            liability is under contract.  Creature Comforts, including its officers, directors and
                            employees shall
                            not be held liable for any indirect, consequential or special liability arising out of or in
                            any way
                            related to your use of this Website.</p>

                        <h4>Indemnification</h4>

                        <p>You hereby indemnify to the fullest extent Creature Comforts from and against any and/or all
                            liabilities,
                            costs, demands, causes of action, damages and expenses arising in any way related to your
                            breach of any
                            of the provisions of these Terms.</p>

                        <h4>Severability</h4>

                        <p>If any provision of these Terms is found to be invalid under any applicable law, such
                            provisions shall be
                            deleted without affecting the remaining provisions herein.</p>

                        <h4>Variation of Terms</h4>

                        <p>Creature Comforts is permitted to revise these Terms at any time as it sees fit, and by using
                            this Website
                            you are expected to review these Terms on a regular basis.</p>

                        <h4>Assignment</h4>

                        <p>The Creature Comforts is allowed to assign, transfer, and subcontract its rights and/or
                            obligations under
                            these Terms without any notification. However, you are not allowed to assign, transfer, or
                            subcontract
                            any of your rights and/or obligations under these Terms.</p>

                        <h4>Entire Agreement</h4>

                        <p>These Terms constitute the entire agreement between Creature Comforts and you in relation to
                            your use of
                            this Website, and supersede all prior agreements and understandings.</p>

                        <h4>Governing Law & Jurisdiction</h4>

                        <p>These Terms will be governed by and interpreted in accordance with the laws of the State of
                            ie, and you
                            submit to the non-exclusive jurisdiction of the state and federal courts located in ie for
                            the
                            resolution of any disputes.</p></div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="privacy">
                    <h5 class="mb-0">
                        <button class="btn btn-light collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Privacy Policy
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="privacy" data-parent="#legal_disclosures">
                    <div class="card-body">
                        <h3>Privacy Policy for Creature Comforts</h3>

                        <p>At Creature Comforts, accessible from https://ci-vero-fullstack.herokuapp.com/, one of our
                            main priorities
                            is the privacy of our visitors. This Privacy Policy document contains types of information
                            that is
                            collected and recorded by Creature Comforts and how we use it.</p>

                        <p>If you have additional questions or require more information about our Privacy Policy, do not
                            hesitate to
                            contact us through email at vsqweb@gmail.com</p>

                        <h4>General Data Protection Regulation (GDPR)</h4>
                        <p>We are a Data Controller of your information. If you'd like to learn more about GDPR and your
                            rights
                            under GDPR, please read the <a
                                    href="https://www.freeprivacypolicy.com/blog/gdpr-privacy-policy/">GDPR
                                guide</a>.</p>

                        <p>Creature Comforts legal basis for collecting and using the personal information described in
                            this Privacy
                            Policy depends on the Personal Information we collect and the specific context in which we
                            collect the
                            information:</p>
                        <ul>
                            <li>Creature Comforts needs to perform a contract with you</li>
                            <li>You have given Creature Comforts permission to do so</li>
                            <li>Processing your personal information is in Creature Comforts legitimate interests</li>
                            <li>Creature Comforts needs to comply with the law</li>
                        </ul>

                        <p>Creature Comforts will retain your personal information only for as long as is necessary for
                            the purposes
                            set out in this Privacy Policy. We will retain and use your information to the extent
                            necessary to
                            comply with our legal obligations, resolve disputes, and enforce our policies.</p>

                        <p>If you are a resident of the European Economic Area (EEA), you have certain data protection
                            rights. If
                            you wish to be informed what Personal Information we hold about you and if you want it to be
                            removed
                            from our systems, please contact us.</p>
                        <p>In certain circumstances, you have the following data protection rights:</p>
                        <ul>
                            <li>The right to access, update or to delete the information we have on you.</li>
                            <li>The right of rectification.</li>
                            <li>The right to object.</li>
                            <li>The right of restriction.</li>
                            <li>The right to data portability</li>
                            <li>The right to withdraw consent</li>
                        </ul>

                        <h4>Log Files</h4>

                        <p>Creature Comforts follows a standard procedure of using log files. These files log visitors
                            when they
                            visit websites. All hosting companies do this and a part of hosting services' analytics. The
                            information
                            collected by log files include internet protocol (IP) addresses, browser type, Internet
                            Service Provider
                            (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These
                            are not
                            linked to any information that is personally identifiable. The purpose of the information is
                            for
                            analyzing trends, administering the site, tracking users' movement on the website, and
                            gathering
                            demographic information.</p>

                        <h4>Cookies and Web Beacons</h4>

                        <p>Like any other website, Creature Comforts uses 'cookies'. These cookies are used to store
                            information
                            including visitors' preferences, and the pages on the website that the visitor accessed or
                            visited. The
                            information is used to optimize the users' experience by customizing our web page content
                            based on
                            visitors' browser type and/or other information.</p>

                        <p>You can learn how to manage cookies on your web browser by following the <a
                                href="https://privacypolicies.com/blog/browser-cookies-guide/">Browser Cookies Guide</a>.
                        </p>


                        <h4>Privacy Policies</h4>

                        <P>You may consult this list to find the Privacy Policy for each of the advertising partners of
                            Creature Comforts.</p>

                        <p>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web
                            Beacons that are
                            used in their respective advertisements and links that appear on Creature Comforts, which are
                            sent
                            directly to users' browser. They automatically receive your IP address when this occurs.
                            These
                            technologies are used to measure the effectiveness of their advertising campaigns and/or to
                            personalize
                            the advertising content that you see on websites that you visit.</p>

                        <p>Note that Creature Comforts has no access to or control over these cookies that are used by
                            third-party
                            advertisers.</p>

                        <h4>Third Pary Privacy Policies</h4>

                        <p>Creature Comforts's Privacy Policy does not apply to other advertisers or websites. Thus, we
                            are advising
                            you to consult the respective Privacy Policies of these third-party ad servers for more
                            detailed
                            information. It may include their practices and instructions about how to opt-out of certain
                            options.
                            You may find a complete list of these Privacy Policies and their links here: Privacy Policy
                            Links.</p>

                        <p>You can choose to disable cookies through your individual browser options. To know more
                            detailed
                            information about cookie management with specific web browsers, it can be found at the
                            browsers'
                            respective websites. What Are Cookies?</p>

                        <h4>Children's Information</h4>

                        <p>Another part of our priority is adding protection for children while using the internet. We
                            encourage
                            parents and guardians to observe, participate in, and/or monitor and guide their online
                            activity.</p>

                        <p>Creature Comforts does not knowingly collect any Personal Identifiable Information from
                            children under the
                            age of 13. If you think that your child provided this kind of information on our website, we
                            strongly
                            encourage you to contact us immediately and we will do our best efforts to promptly remove
                            such
                            information from our records.</p>

                        <h4>Online Privacy Policy Only</h4>

                        <p>Our Privacy Policy created at GDPRPrivacyPolicy.net applies only to our online activities and
                            is valid
                            for visitors to our website with regards to the information that they shared and/or collect
                            in
                            Creature Comforts. This policy is not applicable to any information collected offline or via
                            channels
                            other than this website. <a href="https://gdprprivacypolicy.net">Our GDPR Privacy Policy</a>
                            was
                            generated from the GDPR Privacy Policy Generator.</p>

                        <h4>Consent</h4>

                        <p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header bg-secondary" id="promise">
                    <h5 class="mb-0">
                        <button class="btn btn-secondary collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Our Promise to our Clients
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="promise" data-parent="#legal_disclosures">
                    <div class="card-body">
                        <p>We aspire to make every box an exciting and enjoyable experience,
                                            even if you
                                            order
                                            it for
                                            yourself.
                                            Our subscribers enjoy exclusive goodies and discounts
                                            and can connect in our online community.</p>
                                        <p>Each box of a bimonthly subscription will include: a locally made
                                            product or
                                            craft --
                                            such as a
                                            woolly scarf in wintertime. Moreover, expect organic treats,
                                            luscious skin care
                                            products,
                                            positive imagery and a
                                            newsletter. We continually search the market for items that will
                                            inspire you to
                                            relax and
                                            treasure the current moment.
                                            We think pampering should be effortless, so we pack every one of our
                                            boxes with
                                            a
                                            combination of
                                            items that we know work wonders together.</p>
                                        <p>We promise to give your the best value for your money and work hard
                                            to maintain
                                            your
                                            trust and friendship.</p>
                        <p>Any reasonable request and/or complain will be acknowledged with patience and attention.</p>
                    </div>
                </div>
            </div>
        </div>
    </div></div>
{% endblock %}