{% extends "base.html" %}
{% load static %}
{% block parallax %}
    <!-- title__parallax -->
<div class="banner-home title__parallax when_big">
            <img  alt="CreatureComforts Boxes"
                src="{% static 'img/title__parallax.jpg' %}">
            <div class="container title__main">
                <div class="row">
                    <div class="col-xs-12 col-xl-10 offset-xl-1">
                        <div class="text-center">
                            <h4>Welcome bliss, delivered to your door</h4>
                                <div class="jumbotron title--jumbo"></div>
                            </div>
                    </div>
                    <div class="text-center col-xs-12 col-xl-10 offset-xl-1"><a class="btn btn-light my-1" href="{% url 'products' %}">Discover our fantastic selection of boxes</a>
                        </div>
                </div>
            </div>
            <div class="scroll-down">
               <i class="fas fa-4x fa-angle-down"></i>
            </div>
        </div>
<!-- endtitle__parallax -->
{% endblock %}
{% block content %}
<div class="container-fluid bg--pale container--top">
    <div class="container">
 <div class="container title__main when_small">
                <div class="row">
                    <div class="col-xs-12 col-xl-10 offset-xl-1 text-center">
                                 <div class="jumbotron title--jumbo"></div>
                    </div>
                    <div class="text-center col-xs-12 col-xl-10 offset-xl-1"><a class="btn btn-light my-1" href="{% url 'products' %}">Discover our fantastic selection of boxes</a>
                        </div>
                </div>
            </div>
    <div class="row text-justify container--space d-flex justify-content-around">
        <div class="col-md-4 p-2 m-2"><h1 class="title mb-3"> A few clicks will ensure that you have everything you need to relax and live in the moment delivered every two months. </h1></div>
        <div class="col-md-6 pt-3 m-2 container--img"><p>Think of CreatureComforts as your go-to resource to find reassurance when you
                    worry, composure when you hurry, contentment when you need it. We have too little time to take care
                    of
                    ourselves properly in the busy lives we lead! </p></div>
        <div class="offset-md-2 col-md-10 p-2 m-2">

                    <p>By offering various bespoke boxes, and giving
                        you the option to subscribe to your favourites, we at CreatureComforts wish to make you feel
                        <span
                                class="fancyfont">fuzzy</span> inside, every day.</p>

                            <h3 class="right">Read on or <a href="{% url 'products' %}" class="fancyfont--small">Make
                                your pick</a>!</h3>

            </div>
    </div>

        <div class="container container--space">
            <div class="row justify-space-between">
                <div class="col-sm-12 col-lg-8"><img class="step-box" src="{% static 'img/shop_step_1a.png' %}"
                                                     alt="My image"></div>
                <div class="col-sm-12 col-lg-4">
                    <div class="sm-space text-justify">
                        <h3>Find something you love or are curious about.</h3>
                        <p>You can find something lovely in our wide range of boxes. Items are carefully selected to fit
                            a suggested theme; there are set elements and a few surprises to keep you wondering. We
                            believe in good surprises.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-space-between">
                <div class="col-sm-12 col-lg-4">
                    <div class="sm-space text-justify"><h3>Pick a subscription type.</h3>
                        <p>Do you want to receive this box every few
                            months, or perhaps you want to offer it as a gift? In any case, you can count on us to make
                            the
                            payment process smooth with Stripe.</p>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-8 sm-order"><img class="step-box" src="{% static 'img/shop_step_2a.png' %}"
                                                              alt="My image"></div>
            </div>
            <div class="row justify-space-between">
                <div class="col-sm-12 col-lg-8"><img class="step-box" src="{% static 'img/shop_step_3a.png' %}"
                                                     alt="My image"></div>
                <div class="col-sm-12 col-lg-4">
                    <div class="sm-space text-justify"><h3>Simply wait for the arrival of your box!</h3>
                        <p> Your box is on the way! If you decided
                            to go ahead and subscribe, you will receive a lovely package at regular interval. It makes a
                            good reminder that it is time to relax and pamper yourself.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container bg-line container--space">
            <h4>What you can expect in your CreatureComforts boxes...</h4>
            <div class="card-columns">
                <div class="card">
                    <img class="card-img-top" src="{% static 'img/testimonial2.png' %}" alt="Testimonial">
                    <div class="card-body">
                        <h3 class="card-title">I look forward to receiving my box every month.</h3>
                        <span class="card-text">I have subscribed a few months ago following a bad breakup. I chose the
                            'Optimist' collection and I have loved every item I received so far.</span>
                    </div>
                </div>
                <div class="card p-3">
                    <blockquote class="blockquote mb-0 card-body">
                        <p>Rainy days should be spent at home with a cup of tea and a good book.</p>
                        <p class="card-text">
                            <small class="text-muted">
                                Bill Watterson, <cite title="Source Title">The Calvin and Hobbes Tenth Anniversary
                                Book</cite>
                            </small>
                        </p>
                    </blockquote>
                </div>
                <div class="card p-3 text-right">
                    <blockquote class="blockquote mb-0">
                        <span class="card-text">May your life be filled, as mine has been, with love and laughter; and remember, when things
                            are rough all you need is ... Chocolate.</span>
                        <p class="card-text">
                            <small class="text-muted">
                                Geraldine Solon, <cite title="Source Title">Chocolicious</cite>
                            </small>
                        </p>
                    </blockquote>
                </div>
                <div class="card">
                    <img class="card-img-top" src="{% static 'img/testimonial4.png' %}" alt="Testimonial">
                    <div class="card-body">
                        <h3 class="card-title">What a pleasant gift!</h3>
                        <span class="card-text">I received this from my sister. It shows she care for my well-being and
                            knows me well... Iam a big fan of books and woolen goods!
                           </span>
                        <p class="card-text">
                            <small class="text-muted">Lucy B., Now an active member on the Blog</small>
                        </p>
                    </div>
                </div>
                <div class="card bg-dark text-white text-justify p-3">
                    <blockquote class="blockquote mb-0">
                        <p class="card-text">Never underestimate how much assistance, how much satisfaction, how much
                            comfort, how much
                            soul and transcendence there might be in a well-made taco and a cold bottle of beer.</p>
                        <p class="card-text">
                            <small>
                                Tom Robbins, <cite title="Source Title">Jitterbug Perfume</cite>
                            </small>
                        </p>
                    </blockquote>
                </div>
            </div>
            <a href="{% url 'products' %}" class="text-justify btn btn-info">Shop now!</a>
        </div>
        <div class="container container--space">
            <h4>Join the Creature Comforts' community!</h4>
            <div class="row my-4">
                <div class="col-12 mb-4">
                    <h3>Blog</h3>
                    <p>Share your tips and tricks to a blissful moment, whenever the time, place or
                        occasion.</p>
                    <a class="btn btn-info" href="{% url 'all' %}">Please have a say!</a>
                </div>
                <div class="w-100"></div>

            </div>
        </div>
    </div>
</div>
{% endblock %}