{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="jumbotron title--jumbo"></div>
<div class="jumbotron">
    <h1 class="title"> Index page (Home app) </h1>
    <div class="container">
        <div class="row">
            <div class="col-12"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
                beatae commodi cumque delectus dignissimos, ea earum, impedit in natus omnis pariatur quam quis
                repellendus sapiente sunt totam voluptas. Deserunt, quia.</p></div>
             <div class="col-6">
                <button class="btn btn-sm btn-dark">Read more</button>
            </div>
            <div class="col-6">
                <button class="btn btn-sm btn-dark">Subscribe now!</button>
            </div>
        </div>
    </div>
    <div class="container">
        <h3>{{ test }}</h3>
    </div>
</div>
<div class="container">
    <h2>How it works</h2>
    <div class="d-flex flex-wrap">
        <div class="d-flex">
            <div class=""> <img class="temp-box" src="{% static 'img/shop_step_1.png' %}" alt="My image"></div>
            <div class=" flex-grow-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at cupiditate, deserunt eius eveniet, fuga id illum, magni odit sit soluta vitae.</div>
       </div>
        <div class="d-flex">
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, rerum veniam! Consequuntur cupiditate ducimus explicabo illum
            iure mollitia placeat sequi sit vel voluptatem? Ad aperiam aut dolore eligendi quibusdam, repellendus?</div>
            <div><img class="temp-box" src="{% static 'img/shop_step_2.png' %}" alt="My image"></div>
        </div>
        <div class="d-flex">
            <div><img class="temp-box" src="{% static 'img/shop_step_3.png' %}" alt="My image"></div>
            <div class="flex-grow-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid autem dicta doloribus esse nesciunt
        obcaecati odio qui reiciendis sint vitae? Alias aliquid atque beatae cupiditate fugiat id, perferendis placeat quidem, quo repudiandae soluta.</div>

        </div>

    </div>
</div>
<div class="container">
    <h2>What you can expect in your CreatureComforts boxes...</h2>
    <div class="card-columns">
  <div class="card">
    <img class="card-img-top"  src="{% static 'img/shop_step_3.png'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title that wraps to a new line</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'img/shop_step_3.png'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card bg-dark text-white text-center p-3">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
      <footer class="blockquote-footer">
        <small>
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has a regular title and short paragraphy of text below it.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img" src="{% static 'img/shop_step_3.png'%}" alt="Card image">
  </div>
  <div class="card p-3 text-right">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
    <button class="btn btn-sm btn-dark">Subscribe now!</button>
</div>
<div class="container">
    <h2>Join the Creature Comforts' community!</h2>
    <div class="row">
        <div class="col-6 col-md-6">
            <h3>Poll</h3></div>
        <div class="col-6 col-md-6">
            <h3>Blog</h3></div>

    </div>
</div>

{% endblock %}