{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container container--top">
        <div class="blog--title">
            <img src="{% static 'img/title/shop_title.png' %}">
        </div>
        <div class="container container--space">
            <div id="whatIsYourTypeOfBox" class="row py-3 bg-light card">
                <div class="col-md-12 text-center">
                    <h3 class="">What do you do to feel good, cozy, relaxed?</h3>
                    <div class="container py-3">
                        <div class="row">
                            <div class="py-3 product--sugg col-md-6 col-lg-3 text-center">
                                <h4>You are a light sleeper.</h4>
                                <p>You can help yourself get plenty of 'zzzs' by creating the right atmosphere and quieting your thoughts.</p>
                                <h5>Your box of choice: Nighty Night</h5>

                            </div>


                            <div class="py-3 product--sugg col-md-6 col-lg-3 text-center">
                                <h4>You are a jet-setter.</h4>
                                <p>Even if you travel for fun or business, you need to make sure you get plenty of rest.</p>
                                <h5>Your box of choice: Flying Away</h5>

                            </div>


                            <div class="py-3 product--sugg col-md-6 col-lg-3 text-center">
                                <h4>You have children or young siblings.</h4>
                                <p>Have fun together by imagining great adventures from your living room! </p>
                                <h5>Your box of choice: Snug like a Bug</h5>
                            </div>

                            <div class="py-3 col-md-6 col-lg-3 text-center">
                                <h4>You are a gourmand.</h4>
                                <p>Your escapade of choice is to a fancy cafe or the trendiest brunch place in
                                    town.</p>
                                <h5>Your box of choice: A Pinch of This</h5>
                            </div>

                        </div>
                    </div>
                    <a href="{% url 'about' %}" class="btn btn-dark" style="">Learn More about our Concept</a>
                </div>

            </div>

            <div id="mainShopContainer" class="container container--space">
                <div class="card-columns">
                    {% for product in products %}
                        <div class="card">
                            <img class="card-img-top" src="{{ MEDIA_URL }}{{ product.image }}"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">{{ product.description }}</p>
                                <p class="card-text"><i class="fas fa-euro-sign"></i>{{ product.price }}</p>
                            </div>
                            <div class="card-footer">
                                <form method="post" action="{% url 'add_to_cart' product.id %}">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <input name='quantity' type="number" min="1" max="99"
                                               class="form-control"
                                               placeholder="Quantity">
                                        <span class="input-group-btn">
                            <button class="btn btn-info btn-sm fancyfont" type="submit">Add</button>
                          </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% endfor %}

                </div>
                <hr>
                <div class="row my-4">
                    <div class="col">
                        <a href="{% url 'view_cart' %}" class="btn btn-warning">
                            <i class="fas fa-shopping-cart"></i> View your Cart</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}