@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Open+Sans:400,700');
/* Colour Palette*/
/*dusty pink aa7788*/
/*seafoam #78ab9a*/
/*lilac #9a78ab*/
/*pale pink #ccaabb*/
/*coquelicot #cc5544*/
/*dark blue  #334455*/
/*dark purple #442233*/

/* Animation */
* {
    -webkit-transition: all .35s ease-in-out, color .1s ease;
    -moz-transition: all .35s ease-in-out, color .1s ease;
    -o-transition: all .35s ease-in-out, color .1s ease;
    -ms-transition: all .35s ease-in-out, color .1s ease;
    transition: all .35s ease-in-out, color .1s ease;
}

/* ENDAnimation */
/* Typography */
* {
    font-family: 'Open Sans', sans-serif;
    overflow-wrap: break-word
}

.title, h1, h2, h5 {
    color: #0d8180;
    font-family: Comfortaa, cursive;
    text-shadow: 2px 2px #fff, -1px -1px 3px #fff;
}

.btn {
    font-family: Comfortaa, cursive;
}

h2, h3 {
    font-weight: bold;
}

h4 {
    display: flex;
    align-items: center;
    font-family: Comfortaa, cursive;
}

h4::before,
h4::after {
    content: "";
    background: #007a7a;
    height: 0.1em;
    margin: 0.2em;
    flex: 1;
}

.fancyfont, .fancyfont--small {
    font-family: Comfortaa, cursive;
    font-size: 1.2em;
    text-transform: uppercase;
}

.fancyfont--small {
    font-size: .9em;
}

p, .card-body li {
    font-size: 17px;
    line-height: 1.58;
}

.title--jumbo {
    color: #fff;
    text-shadow: -2px -2px 3px #000;
    font-size: 2.6em;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin: 50px 20px;
}

.error-msg, #stripe-error-message {
    color: red;
    font-weight: bold;
}

textarea, input[type="password"] {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: background-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

a:hover {
    color: #0d8180;
    text-decoration: underline;
    background: rgba(0, 143, 143, 0.18) bottom;
}

a, span {
    color: #002626;
}

.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #17a2b8;
}
.nav-pills .nav-link.active{
    background-color: #008d8d;
}
.nav-link {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.when_big li a:hover {
    background-color: #ced4da;
}

/* Navbar - small viewports */
#menu_button{
    position: absolute;
    right: 16px;
    top: 12px;
}

.nav-item, .nav-link, .footer-item {
    list-style: none;
    text-transform: uppercase;
    font-family: Comfortaa, cursive;
    margin: 8px;

}

/* ENDNavbar - small viewports */

.title__parallax h4 {
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 16px;
}

.title__parallax h2 {
    color: #fff;
    letter-spacing: 4px;
    text-transform: none;
    font-size: 48px;
}

.fixed-top-alert {
    position: fixed;
    top: 80px;
    right: 0;
    left: 0;
    z-index: 1030;
    border: none;
}

/* ENDTypography */
/* Page Structure */
body {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.74)), url('/static/img/background.png') repeat-x;
}

.page--title {
    text-align: center;
    max-width: 100%;
    margin-top:30px;
    margin-bottom: 150px;
}

.page--title > h1 {
    font-size: 4.8em;
    overflow-wrap: normal;
}

.dropdown-menu--small {
    bottom: 0;
    z-index: 1010;
    width: 100%;
    position: fixed;
    top: 0;
    transition: background-color 150ms cubic-bezier(.55, 0, .1, 1);
    background: rgb(0, 100, 100);
    clear: both;
}

.when_big {
    display: none;
}

.when_big li a, .when_big li {
    color: #000000;
    display: inline-block;
}

.row {
    margin-top: 10px;
    margin-bottom: 20px;
}

nav {
    border-bottom: 10px double #0d8180;
}


.jumbo--profile {
    list-style: none;
    padding: 0;
}

.container--top {
    margin-top: 140px;
}

.container--img {
    background: url('/static/img/funky-lines.png') center;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.container--space {
    padding: 40px 20px;
}

/*FLEX*/
.flex--container {
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
}

.flex--component {
    flex-grow: 1;
    text-align: center;
    max-width: 280px;
    padding: 0px 20px;
    margin: 10px 0px;

}

.flex--img {
    max-width: 600px;
}

.flex--sm_img {
    width: 75px;
}

/* END Flex */

footer {
    border-top: 2px solid #000000;
    background: linear-gradient(to bottom, rgba(0, 100, 100, 0.48), rgb(255, 255, 255)), url('/static/img/funky-lines.png');
    padding-bottom: 50px;
}

.bg--pale {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9));
}

/* ENDPage Structure */
/* Components */
.title__main--sm {
    margin-top: 110px;
    margin-bottom: -100px;
}

.title__parallax {
    min-height: auto;
}

.title__parallax img {
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
}

.title__parallax .title__main {
    position: relative;
    padding: 120px 20px 20px 20px;
    top: auto;
    transform: none;
}

.title__parallax .scroll-down {
    position: relative;
    bottom: -50px;
    left: 49%;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

.blog-option {
    width: 40%;
}

.blog-post {
    display: block;
}

.blog-svg {
    display: none;
}

.bg-line {
    background: radial-gradient(rgba(255, 255, 255, 0.14) 70%, rgb(255, 255, 255)), url('/static/img/funky-lines.png');
}


.step-box {
    max-width: 100%;
    margin: 5px;
}

.card-img-top {
    border: 10px solid #fff;
    max-width: 350px;
}

.profile-size > img {
    max-width: 150px;
}

.btn {
    white-space: normal;
}

/* ENDComponents */

/* Media Queries */
@media (max-width: 400px){
    .page--title > h1 {
    font-size: 4.1em;
}
}
@media (min-width: 768px) {
    p, .card-body li {
        font-size: 19px;
        line-height: 1.9;
    }

    .container--space {
        padding: 70px 20px;
    }
    .container--form{
        max-width:800px;
    }

    .sm-space {
        padding-top: 50px;
    }

    .title--jumbo {
        font-size: 5em;
    }

    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

    .bg--pale {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.85), rgb(255, 255, 255));
    }

    .title__parallax {
        min-height: calc(100vh - 68px)
    }

    .title__parallax .title__main {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%)
    }

    .title__parallax .scroll-down {
        bottom: 100px;
        left: 49%;
    }

    page--title {
        margin-bottom: 210px;
    }

    .page--title > h1 {
        font-size: 7em;
        letter-spacing: .2em;
    }

    footer {
        padding-bottom: 100px;
    }
}

@media (max-width: 991px) {
    .sm-order {
        order: -1;
    }
}


@media (min-width: 992px) {

    .container--img {
        background: linear-gradient(to right, rgba(71, 152, 167, 0.74), rgba(71, 152, 167, 0.64));
    }

    .when_big {
        display: block;
    }

    .when_small {
        display: none;
    }

    .blog-option {
        width: 20%;
    }

    .blog-svg, .blog-post {
        display: flex;
    }

    .sm-space {
        padding-top: 90px;
    }

    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }


    .title__parallax h2 {
        font-size: 55px
    }

    .title__parallax .scroll-down {
        position: absolute;
        bottom: 30px;
    }

    .product--sugg {
        border-right: 1px solid black;
    }
}

/*// Extra large devices (large desktops, 1200px and up)*/
/*@media (min-width: 1200px) { ... }*/

/* ENDMEdia Queries*/