{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="jumbotron">
    <h1 class="title"> Index page (User app) </h1>
</div>
<div class="container">
    <h2>User Map</h2>

    <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'profile' %}"><i class="fa fa-user"></i> Profile</a></li>
        <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>Log Out</a></li>
        {% else %}
        <li><a href="{% url 'register' %}"><i class="fa fa-user-plus"></i> Register</a></li>
        <li><a href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Log In</a></li>
        {% endif %}
        <li>Login Page</li>
        <li>Registration Page</li>
        <li>Logout View</li>
        <li>Profile</li>
        <li>Dashboard(?)</li>
    </ul>

</div>

{% endblock %}