{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}
{% block content %}
    <div class="container container--top">
        <div class="page--title">
            <h1>LOGIN</h1>
        </div>
        <div class="container mb-5">

            <form action="{% url 'user_login' %}?next={{ next }}" method="POST">
                <div class="form-group">
                    <p>
                        {% csrf_token %}
                        <label id="username">Username</label>
                        <input class="form-control" type="text" name="username" placeholder="Your username">
                    </p>
                    <p>
                        <label id="password">Password</label>
                        <input class="form-control" type="password" name="password" placeholder="Your password">
                    </p>

                    <input type="submit" class="btn" name="" value="Login">
                </div>
            </form>
            <span>Is it your first visit?</span><a href="{% url 'register' %}" class="fancyfont--small"> You can
            register here.</a><br>
            <span>Forgot your password? </span><a href="{% url 'password_reset' %}" class="fancyfont--small">Click
            here.</a>
        </div>
    </div>

{% endblock %}