<div class="card p-2 m-2">
    <div class="media blog-post">
        <div class="div">
            <a href="{% url 'posts:user_posts' username=post.user.username %}"><h4>{{ post.user.username }}</h4></a>
            <div class="w-100"></div>
            <div class="blog-svg">
            {% if user.is_authenticated and post.user == user and not hide_delete %}
            <svg width="110" height="110">
                <circle cx="50" cy="50" r="30" stroke="#000" stroke-width="4" fill="#006464"/>
            </svg>
            {% else %}
            <svg width="110" height="110">
                <circle cx="50" cy="50" r="30" stroke="#000" stroke-width="4" fill="#fff"/>
            </svg>
            {% endif %}
            </div>
        </div>

        <div class="media-body pl-2">
            <h5 class="media-heading">
                <time class="time">
                    {{ post.created_at }}</time>
                {% if post.topic %}
                <span class="topic-name">in <a href="{% url 'topics:single' slug=post.topic.slug %}"><em>{{ post.topic.name }}</em></a></span>
                <hr>
                <p>{{ post.content_html|safe }}</p>
                {% endif %}
            </h5>

            <div class="media-footer">
                {% if user.is_authenticated and post.user == user and not hide_delete %}
                <a href="{% url 'posts:delete' pk=post.pk %}" title="delete" class="btn btn-sm btn-danger">
                    Delete Post
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>